@use '../abstract' as a;

body {
    background-color:a.$darkBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    margin-inline: 1rem;
}

.quote-container {
    background-color: a.$darkGrayishBlue;
    padding-inline: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .quote-author {
        color: a.$neonGreen;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .75rem;
        font-weight: bold;
        text-align: center;
        margin-top: 2rem;
    }

    .quote-phrase {
        color: a.$lightCyan;
        text-align: center;
        font-weight: bold;
        line-height: 1.2;
        font-size: 1.5rem;
    }
}